.nt {

color: black;


}

.hd {

width: 100%;
padding : 10px ; 
margin-top: 0;
box-shadow: 5px 5px 5px red ; 
font-size: larger;
}

canvas {

border: 2px solid white;
background-color: orange;
box-shadow: 5px 5px 5px blue;
border-radius:  40px ;


}

.thar {

bottom: 0;
position: fixed;
background-color: black;
color: orange;
text-align: center;
width: 100%;
margin-bottom: 0;
padding:10px ; 
}